.killer_feature {
    height: 90%;
    width: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr 10fr;
    gap: 20px;
    font-family: "Roboto";
}

.killer_feature__title {
    text-align: center;
}

.killer_feature__subtitle {
    text-align: center;
}

.features_block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.feature_block__img {
    grid-row: span 2;
    grid-column: span 2;
}

.feature_block__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feature_block__item {
    color: #fff;
    font-family: "Roboto Condensed";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature_block__item__subtitle {
    font-size: 24px;
    text-align: center;
}

.feature_block__item img {
    width: 48px;
    height: 48px;
    margin-bottom: 30px;
}

.feature_block__item:nth-child(2) {
    background-color: #29B7DD;
}

.feature_block__item:nth-child(3) {
    background-color: #8B72EE;
}

.feature_block__item:nth-child(4) {
    background-color: #5D3BE7;
}

.feature_block__item:nth-child(5) {
    background-color: #BD72EF;
}

@media (max-width: 850px) {
    .features_block {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .feature_block__item img {
        margin: 0;
    }
}