.footer {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 36, 36);
    color: #fff;
    font-family: "Roboto";
}

.footer__title {
    font-size: 20px;
    text-align: center;
}