.header {
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 64px;
    height: 32px;
}

.header__burger {
    width: 24px;
    height: 24px;
}